<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.A5_231A010740">

        <!-- Màn hình chi tiết -->
        <activity
            android:name=".DetailActivity"
            android:exported="false" />

        <!-- Màn hình chính -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Mở ứng dụng bình thường -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- NC4: Nhận văn bản chia sẻ từ ứng dụng khác -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

    </application>

</manifest>